p{
    background-color: aquamarine;
}
a{
    background-color: rgb(241, 165, 42);
}
div{
    background-color: brown;
}
span{
    background-color: yellow;
}
h1{
    color: red;
    text-align: center;
}